/*@media screen and (min-width: 1199px){*/

/*}*/
/*@media screen and (max-width: 1199px){*/

/*}*/
@media screen and (max-width: 500px){
    .tools {
        width : 300px;
    }
}
.tools{
    margin: 5px auto 5px auto;
    display: none;
}

#reservation_num_search{
    width: 300px;
}

.filterLabel{
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    width:75px;
}