@media screen and (min-width: 1199px){
    #addMemberInfo>div{
        margin: 0 auto;
    }
}
@media screen and (max-width: 1199px){
    #addMemberInfo>div{
        margin: 0 auto;
    }
}
.member{
    border-radius: 10px;
    border:1px solid #c0c0c0;
}

.member:hover{
    /*border:5px solid grey;*/
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}